{
  "root": true,
  "plugins": [
    "import",
    "flowtype",
    "react",
   ],
  "globals": {
    "IS_TABLET": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".js"
        ]
      }
    ],
    "react/prefer-stateless-function": 0
  },
  "parser": "babel-eslint"
}
